@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("chrome://browser/content/browser.xul") {
  #TabsToolbar {
    height: 22px;
  }

  #tabbrowser-tabs {
    visibility: collapse;
  }
  #sidebar-header {
    visibility: collapse
  }

}



#nav-bar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* @namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul); */
/* #TabsToolbar{! margin-left:28vw !important;! margin-right:44px;} */
/* #TabsToolbar,#tabbrowser-tabs{background-color:rgb(50, 50, 52) !important} */
#nav-bar{
  margin-top:-32px !important;
/*   margin-right: 70vw!important; */
}
/* #PanelUI-button{/*! position: fixed; *//*! top:2px; *//*! right:144px; */} */
/* .tabbrowser-tab[selected],.tabbrowser-tab:hover{background-color:rgba(255,255,255,0.1)!important}
 */



