@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("chrome://browser/content/browser.xul") {
  #TabsToolbar {
    height: 22px;
  }

  #tabbrowser-tabs {
    visibility: collapse;
  }
  #sidebar-header {
    visibility: collapse
  }

}



#nav-bar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* #nav-bar{
  margin-top:-32px !important;
} */

